<div class="max-w-2xl mx-auto my-10">
  <h1 class="text-4xl font-extrabold text-center mb-4">De BonusBazen FYC*</h1>
  <p class="text-sm font-extralight text-center">
    *{{ quote }}
  </p>
  <div class="flex flex-col gap-y-16 mt-16">
    <img
      class="md:rounded-2xl"
      src="assets/logo.jpg"
      alt="De BonusBazen Logo"
    />

    <div class="mx-4 text-sm">
      Hi there! <br />
      <br />
      We are De BonusBazen, a Gewis FYC. <br />
      <br />
      Feel free to reach out to us for any questions or just to say hi!
    </div>

    <div class="self-center flex flex-row flex-wrap gap-8 mx-8">
      @for(member of members; track member) {
      <div class="flex flex-col items-center gap-y-2">
        @if (member.hasProfilePicture) {
        <img
          class="w-35 h-35 rounded-full object-cover border"
          [src]="'api/users/' + member.id + '/profile_picture'"
        />
        } @else {
        <img
          class="w-35 h-35 p-1 rounded-full object-cover border"
          src="assets/user-icon.svg"
        />
        }
        <div class="info">
          <div class="name">{{ member.nickname ?? member.name }}</div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
