<div
  class="md:max-w-xl h-full md:h-auto p-6 pt-20 md:pt-6 mx-auto md:mt-24 bg-white md:rounded-xl shadow-sm shadow-black-100/50"
>
  <h2 class="text-4xl text-center font-bold mb-4">Log In</h2>

  <form (ngSubmit)="onLogInClick()" #accountForm="ngForm" class="space-y-4">
    <div>
      @let nameError = error?.flaggedFields?.includes('name');
      <label
        class="block text-sm font-medium text-gray-700"
        [class]="nameError ? ['text-red-500'] : []"
      >
        Name
      </label>
      <input
        type="text"
        [(ngModel)]="name"
        name="name"
        required
        class="mt-1 block w-full px-4 py-2 border rounded-md focus:border-black-300"
        [class]="nameError ? ['text-red-500', 'border-red-500'] : []"
      />
    </div>

    <div>
      @let passwordError = error?.flaggedFields?.includes('password');
      <label
        class="block text-sm font-medium text-gray-700"
        [class]="passwordError ? ['text-red-500'] : []"
      >
        Password
      </label>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        [disabled]="loading"
        class="mt-1 block w-full px-4 py-2 border rounded-md focus:border-black-300"
        [class]="passwordError ? ['text-red-500', 'border-red-500'] : []"
      />
    </div>

    @if(error) {
    <div
      class="text-sm text-red-500 text-wrap m-5 px-4 py-2 border bg-red-500/15 rounded-md"
      [innerText]="error.message"
    ></div>
    } @if(message) {
    <div
      class="text-sm text-green-500 text-wrap m-5 px-4 py-2 border bg-green-500/15 rounded-md"
      [innerText]="message"
    ></div>
    }

    <div class="flex justify-center mt-5">
      <button
        type="submit"
        class="w-30 py-2 bg-appie-blue text-white rounded-full hover:bg-green-700"
      >
        @if(loading) {
        <spinner class="mr-1" />
        } Log In
      </button>
    </div>
  </form>
</div>
