<div class="container">
  <h1>Login</h1>
  <div class="content">
    <div class="group">
      <div class="field">
        <label for="name">Name or E-Mail</label>
        <input
          id="name"
          [(ngModel)]="name"
          type="text"
          placeholder="Enter your name or e-mail..."
        />
      </div>

      <div class="field">
        <label for="password">Password</label>
        <input
          id="password"
          [(ngModel)]="password"
          type="password"
          placeholder="Enter your password..."
        />
      </div>
    </div>

    <div class="action">
      <button class="primary" (click)="onLogInClick()">Login</button>
    </div>

    @if(error) {
    <div class="error">{{ error }}</div>
    }
  </div>
</div>
