<div
  class="md:max-w-xl h-full md:h-auto p-6 pt-20 md:pt-6 mx-auto md:mt-24 bg-white md:rounded-xl shadow-sm shadow-black-100/50"
>
  <h2 class="text-4xl text-center font-bold mb-4">Log In</h2>

  <form (ngSubmit)="onLogInClick()" #accountForm="ngForm" class="space-y-4">
    <div>
      <label class="block text-sm font-medium text-gray-700">Name</label>
      <input
        type="text"
        [(ngModel)]="name"
        name="name"
        required
        class="mt-1 block w-full px-4 py-2 border rounded-md focus:border-black-300"
      />
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700">Password</label>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        class="mt-1 block w-full px-4 py-2 border rounded-md focus:border-black-300"
      />
    </div>

    <div class="text-sm text-red-500 text-wrap mt-5" [innerText]="error"></div>

    <div class="flex justify-center mt-5">
      <button
        type="submit"
        class="w-30 py-2 bg-appie-blue text-white rounded-full hover:bg-green-700"
      >
        Log In
      </button>
    </div>
  </form>
</div>
