@import "variables";

.app-container {
    width: 100vw;
    height: 100vh;

    .body {
        padding-top: 80px; // Adjust based on nav-bar height

        .scroll {
            min-height: calc(100vh - 80px);
            // overflow-y: auto;
        }
    }
}