<div
  class="md:max-w-4xl h-full md:h-auto p-6 pt-20 md:pt-6 mx-auto md:mt-24 space-y-4 bg-white md:rounded-xl shadow-sm shadow-black-100/50"
>
  @if(post) {
  <h1 class="w-full text-4xl font-extrabold text-center mb-4 px-5 unselectable">
    {{ post.title }}
  </h1>

  @if(post.updatedAt) {
  <h3 class="text-sm text-gray-500 m-0 unselectable">
    Last Updated: {{ formatDate(post.updatedAt) }}
  </h3>
  }

  <div class="w-full mt-5 px-3 py-2 text-wrap" [innerText]="post.body"></div>
  }
</div>
