<div class="max-w-4xl mx-auto mt-10">
  <h1 class="text-4xl font-extrabold text-center mb-4 px-5">
    De BonusBazen Blog*
  </h1>
  <p class="text-sm font-extralight text-center">
    *The best place to get news from De BonusBazen FYC.
  </p>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 md:gap-8 mt-10">
    @for(post of posts; track post) {
    <div
      (click)="onPreviewPostClick(post)"
      class="bg-white shadow-md rounded-lg p-4 mx-2 md:mx-0 hover:shadow-lg transition-shadow duration-300 relative cursor-pointer"
    >
      @if(accountService.hasAdminRights) {
      <button
        (click)="onEditPostClick(post)"
        class="absolute top-3 right-3 text-gray-500 hover:text-gray-700 cursor-pointer"
      >
        <i class="bi bi-pencil"></i>
      </button>
      }
      <h3 class="text-xl md:text-2xl font-semibold text-gray-900 mb-2">
        {{ post.title }}
      </h3>
      <p class="text-sm md:text-base text-gray-500 line-clamp-5 text-wrap" [innerText]="post.body">
        <!-- {{ post.body }} -->
      </p>
    </div>
    } @if(accountService.hasAdminRights) {
    <div
      class="bg-white shadow-md rounded-lg p-4 mx-2 md:mx-0 hover:shadow-lg transition-shadow duration-300"
    >
      <div
        (click)="onEditPostClick()"
        class="flex items-center justify-center w-full h-full cursor-pointer"
      >
        <i class="bi bi-plus text-4xl"> </i>
      </div>
    </div>
    }
  </div>
</div>
