@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    margin: 32px 64px 128px 64px;
    padding: 0 10%;

    h1 {
        align-self: center;

        margin-bottom: 0;
    }

    p {
        align-self: center;

        font-size: 70%;
        font-weight: 300;
    }
    
    .posts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        align-items: center;

        .post {
            display: flex;
            flex-direction: column;
            align-items: left;

            padding: 32px;

            // height: 200px;

            border-radius: $card-border-radius;
            background-color: $card-background-color;

            .title {
                font-size: 150%;
                font-weight: 500;

                color: $apii-blue;

                cursor: default;
            }

            .date {
                font-size: 75%;
                font-weight: 300;

                cursor: default;
            }

            .body {
                margin-top: 16px;

                white-space: pre-wrap;

                font-size: 100%;

                cursor: default;
            }
        }
    }
}