@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 32px 64px 128px 64px;
    padding: 0 10%;

    h1 {
        align-self: center;

        margin-bottom: 0;
    }

    >p {
        align-self: center;

        font-size: 70%;
        font-weight: 300;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: stretch;

        margin: 0 30%;

        .group {
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: stretch;

            .field {
                label {
                    margin-left: 8px;
                }

                input {
                    margin-top: 4px;
                }
            }
        }

        .action {
            align-self: flex-end;

            button {
                min-width: 100px;
            }
        }
    }
}