$appie-blue: #00a0e2;
$appie-dark-blue: #0591ce;

$groente-green: #34b138;
$groente-dark-green: #477C49;

$error-red: #ba2828;

$background-color: #f3fbff;

$card-border-radius: 24px;
$card-background-color: #ffffff;

// Navbar styles
$nav-bar-height: 80px;